@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@600&family=Open+Sans:wght@400;600;700;800&family=REM:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@700&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@600&family=Open+Sans:wght@400;600;700;800&family=REM:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&family=Ubuntu:wght@700&family=Work+Sans:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@600&family=Open+Sans:wght@400;600;700;800&family=REM:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Russo+One&family=Teko:wght@300;400;500;600;700&family=Ubuntu:wght@700&family=Work+Sans:wght@200;300;400;500;700;800&display=swap');
/* font-family: 'Russo One',sans-serif; */
/* font-family: 'Viga', sans-serif; */
:root {
    font-family: 'Teko', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #000212;
    color: aliceblue;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main {
    height: 815px;
    background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(120, 119, 198, 0.3), hsla(0, 0%, 100%, 0));
}
                /* header */
#mainhead {
    padding-top: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
@media(max-width : 1499px) and (min-width : 1024px){
#headlogo {
    margin-left: 18px;
}
  #headlinks ul {
      display: flex;
      justify-content: end;
  }

  #headlinks li {
      margin: 10px;

  }
}
@media(max-width : 1023px) and (min-width : 500px){
    #headlogo {
        margin-left: 10px;
    }
    #cyberwhitelogo {
        width: 35px;
        height: 35px;
    }
    #headlinks ul {
        display: flex;
        justify-content: end;
        margin-left: 50px;
    }
    #headlinks li {
        margin: 10px;

    }

}
@media(max-width :499px) and (min-width : 250px){
    #headogo {
        margin-left: 8px;
    }
    #cyberwhitelogo {
        width: 32px;
        height: 32px;
    }
}

